<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.edu.uas.fmapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="at.edu.uas.fmapp.utils.FmApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="at.edu.uas.fmapp.WelcomeActivity"
            android:label="@string/activity_welcome_title" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="at.edu.uas.fmapp.HomeActivity"
            android:label="@string/activity_home_title" >
        </activity>
        <activity
            android:name="at.edu.uas.fmapp.SearchObjectActivity"
            android:label="@string/activity_search_object_title" >
        </activity>
        <activity
            android:name="at.edu.uas.fmapp.SearchObjectResultActivity"
            android:label="@string/activity_search_object_result_title" >
        </activity>
        <activity
            android:name="at.edu.uas.fmapp.ObjectDetailActivity"
            android:label="@string/activity_object_detail_title" >
        </activity>
        <activity
            android:name="at.edu.uas.fmapp.ObjectsRouteActivity"
            android:label="@string/activity_result_objects_way_title" >
        </activity>
        <activity
            android:name="at.edu.uas.fmapp.ObjectInformationActivity"
            android:label="@string/activity_result_objects_information_title" >
        </activity>
        <activity
            android:name="at.edu.uas.fmapp.ObjectTasksActivity"
            android:label="@string/activity_result_objects_tasks_title" >
        </activity>
        <activity
            android:name="at.edu.uas.fmapp.NewObjectTask"
            android:label="@string/title_activity_new_object_task" >
        </activity>
        <activity
            android:name="at.edu.uas.fmapp.DetailObjectTask"
            android:label="@string/title_activity_detail_object_task" >
        </activity>
    </application>

</manifest>